{% extends 'base.html'%}

{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">设置</a></li>
                    <li class="breadcrumb-item active" aria-current="page">货币</li>
                </ol>
            </nav>
        </div>
    </div>
    <h5 class="py-3">您的货币</h5>
    {% include 'partials/_messages.html' %}
    <form action="{% url 'preferences'%}" method="post">
        {% csrf_token %}
        <div class="input-group">
            <select name="currency" class="custom-select" id="inputGroupSelect04">
                <option name="currency" value="">请选择...</option>
                {% for currency in currencies %}
                {% with n=currency.name v=currency.value %}
                {% if user_preferences.currency == n %}
                <option name="currency" selected value="{{n}}">{{n}} - {{v}}</option>
                {% else %}
                <option name="currency" value="{{n}}">{{n}} - {{v}}</option>
                {% endif %}
                {% endwith %}
                {% endfor %}
            </select>
            <div class="input-group-append">
                <input class="btn btn-outline-primary" type="submit" value="Save" />
            </div>
        </div>
    </form>
</div>

{% endblock %}